
#time { 
    color: white;
    display: flex;
    gap: 15px;
    justify-content: center;
    
}

#time .circle { 
    position: relative;
    width: 150px;
    height: 150px;
    scale: 0.98;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time div { 
    position: absolute;
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
}

#time .ap{ 
    position: relative;
    font: 1rem;
    transform: translateX(-20px);
}

#time .circle svg { 
    position: relative;
    width: 150px;
    height: 150px;
    scale: 0.98;
    transform: rotate(270deg);
}
#time .circle svg circle{ 
    width: 100px;
    height: 100px;
    fill: #57666347;
    stroke: #070707;
    scale: 0.98;
    stroke-width: 4;   
    transform: translate(5px, 5px);
    
}

#time .circle svg circle:nth-child(2){ 
    stroke: var(--clr);
    stroke-dasharray: 440;
}

