.discription{ 
    font-size: 1rem;
    color: white;
    line-height: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
}
.mid {
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
    align-items: center;
    width: 60%;
}
.titles-color { 
    text-align: center;
    font-size: 1.5rem;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.more0color { 
    color: coral;
}
.more1color { 
    color:coral;
}

#resume { 
    width: 100%;
    height: 600px;
}

.display_lang { 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: #3e3e3e;
    position: relative;
    text-align: center;
    border-radius: 0.5px;
}
.display_lang::before,
.display_lang::after { 
    content: " ";
    z-index: -1;
    position: absolute;
    width: calc(100% + 30Px); 
    height: calc(100% + 30Px);
    top: -15px;
    left: -15px;
    border-radius: 0.5px;
    background: linear-gradient(45deg, 
    #ffff74d0, #73c5fb, #7785ff, #cd76ff, #ff73a2, #ff7575, 
    #ff73a2, #ff7575, #ffff74d0, #73c5fb, #7785ff, #cd76ff
    );
    background-size: 200%;
    animation: border 12s linear infinite;

}

.display_lang::after {
    filter: blur(50px);
}

@keyframes border { 
    0%, 100% { 
        background-position: 0 0 ;
    }
    50% { 
        background-position: 300%;
    }
}

#python {
    height: 100px;
    width: auto;
}
#html {
    height: 100px;
    width: auto;
}
#css {
    height: 100px;
    width: auto;
}
#js {
    height: 100px;
    width: auto;
}
